@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;700;800&display=swap');





.mainHeader{
    width: 100%;
    height: 122px;
    background-color: rgb(0, 210, 198);
    display: flex;
    flex-direction: row;
    position: fixed;
    border-bottom: 1px solid white;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    
}
.logo{
    width: 60%;
    height: 122px;
    padding-left: 30px;
    padding-top: 20px;
    
}

.products{
    width: 20%;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    column-gap: 30px;
    font-size: 20px;
    font-weight: 60px;
}

.social{
    width: 20%;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
a{
    text-decoration: none;
}

.socialIcons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.image1{
    width: 100%;
    height: 805px;
    background-image: url("https://www.7up.com/images/simple-7up/tropical-header.png");
    background-size: cover;
    display: flex;
    padding-top: 300;
}
.image2{
    width: 100%;
    height: 805px;
    background-image: url("https://www.7up.com/images/simple-7up/image2.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image3{
    width: 100%;
    height: 805px;
    background-image: url("https://www.7up.com/images/simple-7up/image1.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    padding-top: 120px;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.topFooter{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;

}

ul{
    list-style-type:none;
    
}

.footerLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size:15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.bottomFooter{
    width: 100%;
    height: 90px;
    font-size: 15px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

h2{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.footerLinkButtons{
    cursor: pointer;
}

.footerLinkButtons:hover{
    text-decoration: underline solid white;
}
.headLinkButtons{
    cursor: pointer;
}
.headLinkButtons:hover{
    text-decoration: underline;
}
.innerContent{
    width: 750px;
    height: 210px;
    background-color: black;
    border-radius: 9999px;
    background-color: rgba(0, 0,0, 0.5);
}

.innerContent1{
    width: 660px;
    height: 225px;
    margin-left: 84px;
  font-family: 'Baloo 2', cursive;
  font-weight: 800;
  font-size:  80px;
  color: #ffffff;
  line-height: 60px;
  display: flex;
  flex-direction: column;

}

.learnMore{
    width: 174px;
    height: 47px;
    border-radius: 9999px;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: -60px;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerHeads{
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
   

}

.innerPara{
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    text-align: center;
    

}

.recipes{
    padding: 10px 20px;
   width: 174px;
    height: 47px;
    border-radius: 9999px;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    border: 1px solid white;
    text-align: center;
    margin: 294px;

    
}

.findProducts{
     padding: 10px 20px;
   width: 174px;
    height: 47px;
    border-radius: 9999px;
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    border: 1px solid white;
    text-align: center;
    margin: 290px;
}
